
h1 {
    text-align: center;
    font-size: 3rem;
    color: #546e7a;
    margin-bottom: 4rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
    color: #f96d00;
    margin-bottom: 3rem;
}

h2 a {
    color: #f96d00;
    text-decoration: none;

}

h3 {
    text-align: center;
    font-size: 1.5rem;
    color: #546e7a;
}


.list {
    width: 50rem;
    /* border: 1px solid grey; */
    padding-left: 15rem;
    padding-bottom: 3rem; 
    align-self: left;
    text-align: left;
    font-size: 1.7rem;
    color: #546e7a;
  }
  
 
.artist-list {
    width: 50rem;
    /* border: 1px solid grey; */

    padding-bottom: 3rem; 
    align-self: left;
    text-align: left;
    font-size: 1.7rem;
    color: #546e7a;
  }  


.stock-alert{
    color: red;
}


.show-details {

  width: 50rem;
  /* border: 1px solid grey; */
  padding-left: 17rem;
  padding-bottom: 3rem;
  
  align-self: left;
  text-align: left;
  font-size: 1.7rem;
  color: #546e7a;
}

.show-details .records-by-artist {
  color: #f96d00;
}
