.footer {
    margin-top: 20px;
    color:#455d7a;
    background: #fcffc1;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    z-index: 10;
  }
  
  

  

  
