{% extends 'base.html'%}

{% block content %}
<div class="content">
<h1>{{ record.title }}</h1>

<h2> <a href="/artists/{{ record.artist.id}}">By {{  record.artist.first_name }} {{ record.artist.last_name }} </a></h2>

<div class="show-details">
<p>Genre: {{ record.genre }}</p>
<p>Year: {{ record.year }}</p>
<p>Price: {{ record.price }}</p>
<p>Buying cost: {{ record.buying_cost }}</p>
<p>Available stock: {{ record.stock_count }}</p>
<p>Markup: {{ record.markup() }} </p>

{% if record.stock_count < 3 %}
<p>!! Low Stock !!</p>
{% endif %}
<p><a href="/records/{{ record.id }}/edit">EDIT</a></p>
</div>
</div>

{% endblock %}