{% extends 'base.html'%}

{% block content %}



<div class="content">
        <div class="genre-list">
        <h3>Click to see the records under each genre</h3>
        {% for genre in all_genres %}
            <h2>
               <a href="/genres/{{ genre.id }}">&#119070; {{ genre.genre_name }} </a>
        
        
        
        {% endfor %}    
                

        <p class="link-to-form">&#9758; <a href="/genres/add">Crick Here To Create A New Genre</a></p>
</div>     
        {% endblock %}